# Chave de API do Gemini (obtenha em https://aistudio.google.com/)
GEMINI_API_KEY=sua_chave_de_api_aqui

# Porta de execução do servidor Go local (padrão: 8080)
PORT=8080

# ==============================================================================
# Configurações do Rastreamento Facial (tracker.go)
# ==============================================================================
# URL da câmera / stream de vídeo (Ex: webcam local = 0, câmera IP = http://192.168.1.2:81/stream)
TRACKER_STREAM_URL=http://192.168.1.2:81/stream
# Arquivo classificador Cascade para detecção de rostos
TRACKER_CASCADE_FILE=haarcascade_frontalface_default.xml

# ==============================================================================
# Configurações da API Gemini Live (WebSockets em main.go)
# ==============================================================================
# URL base do WebSocket da Gemini Live API
GEMINI_LIVE_URL=wss://generativelanguage.googleapis.com/ws/google.ai.generativelanguage.v1alpha.GenerativeService.BidiGenerateContent
# Modelo utilizado no WebSocket
GEMINI_MODEL=models/gemini-3.1-flash-live-preview

# Perfis de Voz Atuais
## Ursa: Equilibrada e natural, excelente para conversas cotidianas.
## Vega: Energética e bastante dinâmica.
## Pegasus: Clara e objetiva, ideal quando você busca produtividade.
## Dipper: Estilo mais descontraído e casual.
## Eclipse: Perfil sonoro mais sério e sofisticado.
## Capella: Suave e com uma entonação extremamente orgânica e humana.
## Orbit: Moderna e com um tom que soa mais tecnológico.
## Orion: Voz profunda e estável.
## Flare: Tom vibrante e muito expressivo (nova adição).
## Glow: Mais calma e acolhedora (nova adição).

GEMINI_VOICE_NAME=Ursa


# ==============================================================================
# Configurações do Detector de Palavra de Ativação (openWakeWord-go)
# ==============================================================================
# Caminho do modelo de wake word
WAKEWORD_MODEL_PATH=models/edna.onnx
#WAKEWORD_MODEL_PATH=models/ok_bender.onnx

# Sensibilidade/Limite do trigger (0.0 a 1.0, recomendado: 0.8)
WAKEWORD_THRESHOLD=0.8